@model IEnumerable<zpnet.Models.Sale>

@{
    ViewData["Title"] = "Index";
}

<h1>Sale</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Auto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Platnosc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_s)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Auto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Platnosc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data_s)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.Nazwisko)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
