@model zpnet.Models.Car

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Indeks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Indeks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cena)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_pr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_pr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Nazwa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
